Design/Simulation/*/*/*
!Design/Simulation/*/*/*.do
!Design/Simulation/wrapper/subcomponents_for_wrapper/d_flip_flop
Design/Simulation/wrapper/subcomponents_for_wrapper/d_flip_flop/*
!Design/Simulation/wrapper/subcomponents_for_wrapper/d_flip_flop/**/*.do
Design/Synthesis/*
!Design/Synthesis/constraint_1.xdc
aux
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg
*.gxs 
*.idx
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.code-workspace
Report/*
!Report/*.pdf