Design/Simulation/*
!Design/Simulation/*/*.do
Design/Synthesis/*
!Design/Synthesis/clock.xdc
aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg
*.gxs 
*.idx
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.code-workspace
Report/*
!Report/*.pdf